-r requirements.txt
-i https://pypi.rasa.com/simple
rasa-x==0.34.0
-r actions/requirements-actions.txt
pytest==6.2.1
pytest-asyncio==0.14.0

# style checks
black==20.8b1
pylint==2.6.0
flake8==3.8.4
isort==5.6.4
pytest-cov==2.10.1
